body {
    background-color: #90c1d6;
    font-family: Arial, Helvetica, sans-serif;
}
#header{
    font-size: xx-large;
    font-weight: 700;
    text-align: center;
    text-transform: capitalize;
    color: white;
    margin: 22px;
}
button{
	background-color: springgreen;
}
fieldset, button {
    border-radius: 18px;
    border: 1px solid;
    padding: 10px;
    box-shadow: 5px 10px 18px #888888;
}
.fieldset1 {
    background-color: #6993ec;
}
.fieldset2 {
    background-color: turquoise;
}
.fieldset3 {
    background-color: wheat;
}
legend {
    font-weight: 600;
}
.container{
    display: flex;
}
.box1 {
    flex: 1;
}
.box1 {
    flex: 1;
}
.box3 {
    flex: 1;
}
.title{
    text-align: center;
    text-shadow: 5px 10px 18px #363333;
}
.input{
    width: 33px;
    border-radius: 5px;
}
.buttons{
    display: flex;
    align-items: center;
    justify-content: center;
}
.btn{
    font-size: large;
    text-transform: uppercase;
    padding: 4px, 10px, 4px, 10px;
    border-radius: 6px;
    box-shadow: 5px 10px 18px #888888;
}
#btn1{
    margin: 4px;
    background-color: #6993ec;
}
#btn2{
    margin: 4px;
    background-color: turquoise;
}
